
.App{
  background-image: url(https://studentassessment.ucalgaryblogs.ca/files/2017/07/COLOURBOX25627203-678x381.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}