*{
  margin: 0;
  padding: 0;
}
:root{
  --principal-color:#F0AE4F;
  --background-color: #29170B;
}
body{
  height: 100vh;
  background-position: 0 60px;
  background-image: url(./Images/pacman\ wallpaper.png);
  background-size:cover ;
}
