.Card{
  background-color: #1E344B;
  width:100%;

  opacity: 85%;
  
}
.Stars{
  width: 100%;
  color: orange;
  font-size: 30pt;
  display: flex;
  justify-content: center;
  gap:20px;
  filter: drop-shadow(3px 6px 3px  );
}

.Imagen{
  width: auto;
}
.img{
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-sizing:border-box ;
  
}
.RightUp{
  box-sizing: border-box;
  width: 50%;
  padding: 10px;
  display: grid;
  justify-items: center;
  gap: 20px;
}
.Arriba{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}
.Nombre{
  width: 50%;
  font-size: 30pt;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align:center;
}

@media  (max-width: 769px ){
  .Nombre{
    width: 100%;
  }
  .RightUp{
    width: 100%;
  }
}