.Loader{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  padding:10px;
  border: 10px solid #af7e39 ;
  border-top: 10px solid var(--principal-color);
  border-radius: 50%;
  animation: loader 1s linear infinite;
}
@keyframes loader{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.Container{
  width: 100%;
  display: grid;
  justify-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.Main{
  background-color: var(--background-color);
  filter: drop-shadow(0 0 20px white);
  border-radius: 20px;
  display: grid;
  gap:30px;
  grid-template-columns: 100%;
  width: 40%;
  height: fit-content;
  justify-items: center;
  padding: 20px;
}
.Campos, .Rating, .PlatformDiv, .Description, .error, .DescriptionError ,.errorplatfrom{
  padding: 20px;
  background-color: var(--principal-color);
  border: none;
  width: 80%;
  font-size: 15pt;
  height: 40px;
  border-radius: 20px;
}
.Rating{
  height: fit-content;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;

}

.Bar{
  width: 100%;
}

.Genres, .GenresError{
  border: none;
  background-color: var(--principal-color);
  font-size: 15pt;
  width: 80%;
  padding: 20px;
  border-radius: 20px;
  height: fit-content;
}
.Boton{
  background-color:var(--principal-color);
  border: none;
  border-radius: 20px;
}
.Boton:hover{
  transition: .20s;
  background-color: #E6A445;
}
.addedGenres, .addedPlatforms, .Submit{
  background-color: var(--principal-color);
  font-size: 15pt;
  font-weight: 600;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.GenresContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.GenresContainer:hover div{
  background-color: #E6A445;
  transition: .3s; 
}

.NotSubmit{
  display: none;
}
.Platforms{
  border: none;
  background-color: var(--principal-color);
  font-size: 15pt;
  width: 100%;
  height: 100%;
}
.PlatformDiv, .errorplatfrom{
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
}
.Description{
  /* resize: none; */
  overflow: hidden;
  max-width: 80%;
  min-width: 80%;
  min-height: 50px;
  max-height: 200px;
}

.error, .DescriptionError , .errorplatfrom{
  border: solid 2px red; 
  filter: drop-shadow(0 0 20px red);
}
.GenresError{
  filter: drop-shadow(0 0 20px red);
}